body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Conteiner*/
.conteiner {
    width: 100%;
    max-width: 1200px;
    
    margin: 0 auto;

}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    
    background: url(../Mogo/images/intro.jpg)
    center no-repeat;

    background-size: cover;
}

.intro__suptitle {
    font-size: 70px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;

    margin-bottom: 10px;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: centr;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;

    background-color: #fff;
    margin: 40px auto;
}


.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}
/* Header */

.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

/* Nav */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;

}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;


}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after {
    display: block;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    

    border: 3px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */

.slider {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.slider__item {
    width: 23%;

    position: relative;
    opacity: .7;
    border-top: 3px solid;
    padding: 20px 0;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    top: -3px;
    left: 0;
    z-index: 1;

    background-color: #f38181;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */

.section {
    padding: 80px 0;
}

.section--grey {
    background: #f8f8f8;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitile {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto;
}

.section__text {
    font-size: 15px;
    color: #999999;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
}

.about__inner {
    background: #95e1d3;
}

.about_item {
    width: 380px;
    
    position: relative;
}

.about_item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about__img img {
    opacity: .1;
}

.about__img {
     background: linear-gradient(to bottom, #fce38a,
     #f38181);
     /*background: #95e1d3;*/
     transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opasity .1s linear;
}

.about_item:hover .about__text {
    opacity: 1;
}

.about__text {
    width: 100%;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
}

/* Statistic */

.statistic {
    background: #95e1d3;
}

.stat {
    display: flex;   
}

.stat__item {
    flex: 1 1 0;
    text-align: center;
    border-left: 1px solid #b5eae0;
    color: #fff;
    padding: 70px 25px;
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    font-size: 72px;
    font-weight: 700;
}

.stat__text {
    height: 30px;
    font-size: 14px;
    text-transform: uppercase;
}

/* Servises */

.servises {
    display: flex;
}

.servises__item {
    flex: 1 1 0;

    padding-left: 85px;
    padding-right: 35px;
    position: relative;
}

.servises__img {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.servises__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.servises__text {
    font-size: 15px;
    color: #999;
}

.border {
    display: block;
    width: 100%;
    height: 1px;
    margin: 50px 0;
    border: 0;
    background-color: #e5e5e5;
}

/* Devices*/

.section--devices {
    background: url(..//Mogo/images/bacdevices_02.jpg) center no-repeat;
    background-size: cover;
    padding-bottom: 0;  
    margin-bottom: 50px;  
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}   

/* We do*/

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* Acardion */

.acardion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.acardion__item.active
.acardion__content {
    display: block;
}

.acardion__item.active
.acardion__heder::after {
    transform: translateY(-50%) rotate(-45deg);
}

.acardion__heder {
    border-bottom: 1px solid #e5e5e5;
    position: relative;

    padding: 15px 20px 15px 60px;
}

.acardion__heder::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #d0d0d0;
    border-right: 2px solid #d0d0d0;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
}

.acardion__img {
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 1;

    transform: translateY(-50%);
}

.acardion__content {
    padding: 15px 20px;

    display: none;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.acardion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/* Reviews */

.reviews {
    padding: 0 110px;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;

    font-size: 24px;
    font-weight: 300;
    color: #999999;
    font-style: italic;
}

.reviews_author {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.reviews_author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 60px;
    height: 3px;
    background-color: #f38181;

    margin-right: 10px;
}

/* Social */

.social__item {
    background-color: #fce38a;
    border-right: 1px solid #f38181;

    width: 58px;
    height: 59px;

    font-size: 35px;
    
}

.social {
    display: flex;
    padding-left: 50px;
}

.fab {
    color: #f38181;
}


.about__author {
    margin-top: 30px;
}

.author {
    font-size: 14px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}   

.work {
    font-size: 15px;
    font-weight: 300;
    color: #999999;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

/* Icon */

.icon {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

/* Photos */

.photos {
    width: 100%;
    max-width: 1920px;
    padding: 0;
}

.photo__img {
    width: 100%;
    margin: 0;
}

.section--photo {
    margin-top: 0;
    padding: 0;
}

.reviews__photo__2 {
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: 1;
}

/* Clients */

.section--clients {
    background: url(../Mogo/images/clients__bacground_02.jpg) no-repeat;
}

.clients {
    display: flex;
    flex-wrap: wrap;

}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
    margin-top: 70px;
}

.clients__photo {
    width: 110px;
    height: 110px;
    border-radius: 55px;

    position: absolute;
    top: 0;
    left: 40px;
    z-index: 1;
}

.clients__name {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.clients__prof {
    font-size: 15px;
    color: #333333;
    font-weight: 300;
    font-style: italic;
    margin-top: 14px;
}

.clients__prof::after {
    content: "";
    display: block;
    height: 3px;
    width: 60px;
    background: #f38181;
    margin-top: 20px;
    margin-bottom: 25px;
}

.clients__text {
    font-size: 15px;
    font-weight: 300;
    color: #999999;

}

/* Blog */

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 380px;
    position: relative;
}

.blog__content {
    margin-top: 20px;
}

.blog__title {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}

.blog__text {
    font-size: 15px;
    color: #999999;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog__icon {
    width: 60px;
    height: 70px;
    background-color: #95e1d3;

    position: absolute;
    top: 140px;
    left: -10px;
    z-index: 1;
}

.blog__num {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    height: 55%;
}

.blog__mounth {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0;
}



.blog__footer{
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;

    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;

}


.blog__footer.second {
    margin-top: 34px;
}

.blog__footer.third {
    margin-top: 34px;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.fas.fa-eye,
.fas.fa-comment-dots {
    color: #95e1d3;
    margin-right: 5px;
}



/* Map */

.section--map {
    background: url(../Mogo/images/map_02.jpg) no-repeat;
}

.map {
    text-align: center;

}

.map__title {
    font-size: 24px;
    color: #f38181;

}

.map__title a {
    text-transform: uppercase;
    color: #f38181;
    text-decoration: none;
    display: block;

    font-size: 24px;
    font-weight: 700;
}

.map__title a:hover {
    text-decoration: underline;
}

.map__title a:after {
    content: "";
    display: block;
    background: #f38181;
    height: 3px;
    width: 60px;

    margin: 0 auto;
    margin-top: 10px;
}

/* Footer */

.footer {
    color: #f8f8f8;
}

.footer__col.first {
    width: 40%;
}

.footer__iner {
    padding-bottom: 65px;
    display: flex;
}

.footer__logo {
    font-size: 46px;
    color: #cccccc;
    font-weight: 700;
    margin: 0;
}

.footer__text {
    font-size: 15px;
    color: #999999;
    font-weight: 300;
    margin-top: 30px;
}

.footer__social-header {
    color: #333;
    padding-bottom: 15px;
    font-size: 14px;

    border-bottom: 1px solid #999999;

}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;
    color: #333;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-content i {
    color: #95e1d3;
    font-size: 18px;

    display: inline-block;
    vertical-align: center;
    margin-left: 10px;
}

/* Subscribe */

.subscribe {
    width: 100%;
    max-width: 380px;
}

.subscribe__input {
    background-color: #fff;
    border: 1px  solid #e7e7e7;
    width: 60%;
   

    font-size: 15px;
    color: #cccccc;
    font-style: italic;
    font-weight: 300;

    padding: 12px;
    font-family: 'Montserrat', sans-serif;
}

.subscribe__input:focus {
    outline: 0;
}

.subscribe__button {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    background-color: #95e1d3;

    border: 1px solid #95e1d3;

    padding: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-left: -4px;

    width: 40%;
    cursor: pointer;

    transition: background 2s linear;
}

.subscribe__button:hover {
    background-color: #6caca0;
    border: 1px solid #6caca0;
}

.footer__title {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.col_block__content {
    margin-left: 140px;
}

.col_block {
    position: relative;
    margin-top: 30px;
}

.col_block_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.col__block__date {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.footer__col.second {
    padding-top: 20px;
    padding-left: 20px;
    width: 30%;
}

.col__block__text {
    font-size: 12px;
    text-transform: uppercase;
    color: #333333;

}

.footer_col.third {
    padding-top: 20px;
    padding-left: 20px;
    width: 30%;
}

/* Instagram */

.instagram {
    display: flex;
    flex-wrap: wrap;
}

.instagram__item {
    flex: 1 1 0;
    border: 1px solid #fff;
    width: 33.3333%;
    margin-right: 2px;
}

.instagram__item img {
    display: block;
}

.footer__content {
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

.footer.footer--footer {
    border-top: 1px solid #e5e5e5;
    height: 60px;
} 